<configuration debug="true" scan="true"	scanPeriod="30 seconds">
	
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] [%level] %logger{20} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE_ROOT" class="ch.qos.logback.core.FileAppender">
		<file>src/main/resources/logs/appLoggingRoot.log</file>

		<encoder>
			<pattern>%d %logger{10} %level [%thread] [%file:%line] - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE_SERVICE" class="ch.qos.logback.core.FileAppender">
		<file>src/main/resources/logs/appLoggingService.log</file>

		<encoder>
			<pattern>%d %logger{10} %level [%thread] [%file:%line] - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE_WEB" class="ch.qos.logback.core.FileAppender">
		<file>src/main/resources/logs/appLoggingWeb.log</file>

		<encoder>
			<pattern>%d %logger{10} %level [%thread] [%file:%line] - %msg%n</pattern>
		</encoder>
	</appender>
	
		
	<logger name="by.itacademy.javaenterprise.knyazev.services.CategoriesService" level="ERROR" additivity="false">
		<appender-ref ref="FILE_SERVICE" />
	</logger>
	
	<logger name="by.itacademy.javaenterprise.knyazev.services.GoodsService" level="ERROR" additivity="false">
		<appender-ref ref="FILE_SERVICE" />
	</logger>
	
	<logger name="by.itacademy.javaenterprise.knyazev.services.PurchasesService" level="ERROR" additivity="false">
		<appender-ref ref="FILE_SERVICE" />
	</logger>
	
	<logger name="by.itacademy.javaenterprise.knyazev.services.StorehouseService" level="ERROR" additivity="false">
		<appender-ref ref="FILE_SERVICE" />
	</logger>
	
	<logger name="by.itacademy.javaenterprise.knyazev.services.UsersService" level="ERROR" additivity="false">
		<appender-ref ref="FILE_SERVICE" />
	</logger>
	
	
	
	<logger name="by.itacademy.javaenterprise.knyazev.controllers.CategoriesController" level="ERROR" additivity="false">
		<appender-ref ref="FILE_WEB" />
	</logger>
	
	<logger name="by.itacademy.javaenterprise.knyazev.controllers.GoodsController" level="ERROR" additivity="false">
		<appender-ref ref="FILE_WEB" />
	</logger>
	
	<logger name="by.itacademy.javaenterprise.knyazev.controllers.PurchasesController" level="ERROR" additivity="false">
		<appender-ref ref="FILE_WEB" />
	</logger>
	
	<logger name="by.itacademy.javaenterprise.knyazev.controllers.ReportsController" level="ERROR" additivity="false">
		<appender-ref ref="FILE_WEB" />
	</logger>
	
	<logger name="by.itacademy.javaenterprise.knyazev.controllers.StorehouseController" level="ERROR" additivity="false">
		<appender-ref ref="FILE_WEB" />
	</logger>
	
		
	<root level="INFO">
		<appender-ref ref="FILE_ROOT" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>